.customHeaderTop {
    -fx-background-color: #ff3dc8;
}
.customBodyMain {
    -fx-background-color: #592150;
}
.text-field:focused {
    -fx-faint-focus-color: #FF00FF22;
    -fx-focus-color:  #FF00FF;
}
#btnSettingsbtn {
    -fx-background-image: url('/images/settingsBlack.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-color: transparent;
}